In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
#Q1

In [3]:
pyspark.__version__

'3.3.2'

In [4]:
#Q2

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/03 15:09:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df_fhv = spark.read \
    .option("header", "true") \
    .csv('/home/artoriuss9/Homework_5/fhv_tripdata_2019-10.csv.gz')

In [7]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [8]:
df_fhv.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [9]:
from pyspark.sql import types

schema = types.StructType([
	types.StructField('dispatching_base_num', types.StringType(), True), 
	types.StructField('pickup_datetime', types.TimestampType(), True), 
	types.StructField('dropOff_datetime', types.TimestampType(), True), 
	types.StructField('PUlocationID', types.IntegerType(), True), 
	types.StructField('DOlocationID', types.IntegerType(), True), 
	types.StructField('SR_Flag', types.StringType(), True)
])

In [10]:
df_fhv = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('/home/artoriuss9/Homework_5/fhv_tripdata_2019-10.csv.gz')

In [11]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [12]:
df_fhv.repartition(6)

DataFrame[dispatching_base_num: string, pickup_datetime: timestamp, dropOff_datetime: timestamp, PUlocationID: int, DOlocationID: int, SR_Flag: string]

In [13]:
#df_fhv.write.parquet('/home/artoriuss9/Homework_5/fhvhv/2019/10', mode = 'overwrite')

24/03/03 15:10:17 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 6
CSV file: file:///home/artoriuss9/Homework_5/fhv_tripdata_2019-10.csv.gz

In [14]:
df_fhv.coalesce(6).write \
    .parquet('/home/artoriuss9/Homework_5/fhvhv/2019/10', mode = 'overwrite')

24/03/03 15:10:36 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 6
CSV file: file:///home/artoriuss9/Homework_5/fhv_tripdata_2019-10.csv.gz

In [15]:
!ls -lh /home/artoriuss9/Homework_5/fhvhv/2019/10

total 25M
-rw-r--r-- 1 artoriuss9 artoriuss9   0 Mar  3 15:10 _SUCCESS
-rw-r--r-- 1 artoriuss9 artoriuss9 25M Mar  3 15:10 part-00000-de68e93c-2bab-4d56-b098-f4109f8e59fc-c000.snappy.parquet

In [16]:
#Q3

In [17]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [18]:
from pyspark.sql import functions as F

In [19]:
df_fhv \
    .withColumn('pickup_date', F.to_date(df_fhv.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [20]:
#Q4

In [21]:
df_fhv.show(5)

24/03/03 15:11:05 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 6
CSV file: file:///home/artoriuss9/Homework_5/fhv_tripdata_2019-10.csv.gz
+--------------------+-------------------+-------------------+------------+------------+-------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|
+--------------------+-------------------+-------------------+------------+------------+-------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|
+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 5 rows

In [22]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [23]:
df_fhv.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag']

In [27]:
df_fhv \
    .withColumn('duration', (df_fhv.dropOff_datetime.cast('long') - df_fhv.pickup_datetime.cast('long')) / 3600) \
    .withColumn('pickup_date', F.to_date(df_fhv.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(10) \
    .show()

+-----------+------------------+
|pickup_date|     max(duration)|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333333|
| 2019-10-01| 70128.02805555555|
| 2019-10-17|            8794.0|
| 2019-10-26| 8784.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1056.8266666666666|
| 2019-10-02| 769.2313888888889|
| 2019-10-23| 745.6166666666667|
+-----------+------------------+

In [28]:
df_fhv.registerTempTable('df_fhv_longest_trip')

/home/artoriuss9/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [30]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropOff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 3600) AS duration
FROM 
    df_fhv_longest_trip
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333333|
| 2019-10-01| 70128.02805555555|
| 2019-10-17|            8794.0|
| 2019-10-26| 8784.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1056.8266666666666|
| 2019-10-02| 769.2313888888889|
| 2019-10-23| 745.6166666666667|
+-----------+------------------+

In [31]:
#Q5

In [32]:
4040

4040

In [33]:
#Q6

In [34]:
df_fhv_parq = spark.read.parquet('/home/artoriuss9/Homework_5/fhvhv/2019/10')

In [35]:
df_zones = spark.read.parquet('/home/artoriuss9/notebooks/zones')

In [36]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [37]:
df_result = df_fhv_parq.join(df_zones, df_fhv_parq.PUlocationID == df_zones.LocationID)

In [38]:
df_result.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------+-------+---------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|LocationID|Borough|           Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------+-------+---------------+------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|       264|Unknown|             NV|         N/A|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|       264|Unknown|             NV|         N/A|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       129| Queens|Jackson Heights|   Boro Zone|
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|        57| Queens|         Corona|   Boro Zone|
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       173| Queens|   North Corona|   Boro Zone|
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       226| Queens|      Sunnyside|   Boro Zone|
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|        56| Queens|         Corona|   Boro Zone|
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|        82| Queens|       Elmhurst|   Boro Zone|
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|       264|Unknown|             NV|         N/A|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|       264|Unknown|             NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------+-------+---------------+------------+
only showing top 20 rows

In [39]:
df_result.drop('dispatching_base_num', 'PUlocationID').show()

+-------------------+-------------------+------------+-------+----------+-------+---------------+------------+
|    pickup_datetime|   dropOff_datetime|DOlocationID|SR_Flag|LocationID|Borough|           Zone|service_zone|
+-------------------+-------------------+------------+-------+----------+-------+---------------+------------+
|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:00:48|2019-10-01 00:07:12|         129|   null|       129| Queens|Jackson Heights|   Boro Zone|
|2019-10-01 00:47:23|2019-10-01 00:53:25|          57|   null|        57| Queens|         Corona|   Boro Zone|
|2019-10-01 00:10:06|2019-10-01 00:19:50|         173|   null|       173| Queens|   North Corona|   Boro Zone|
|2019-10-01 00:51:37|2019-10-01 01:06:14|         226|   null|       226| Queens|      Sunnyside|   Boro Zone|
|2019-10-01 00:28:23|2019-10-01 00:34:33|          56|   null|        56| Queens|         Corona|   Boro Zone|
|2019-10-01 00:31:17|2019-10-01 00:51:52|          82|   null|        82| Queens|       Elmhurst|   Boro Zone|
|2019-10-01 00:07:41|2019-10-01 00:15:23|          71|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:13:38|2019-10-01 00:25:51|          39|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:42:40|2019-10-01 00:53:47|         188|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:58:46|2019-10-01 01:10:11|          91|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:09:49|2019-10-01 00:14:37|          71|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:22:35|2019-10-01 00:36:53|          35|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:54:27|2019-10-01 01:03:37|          61|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:08:12|2019-10-01 00:28:47|         198|   null|       264|Unknown|             NV|         N/A|
|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|   null|       264|Unknown|             NV|         N/A|
+-------------------+-------------------+------------+-------+----------+-------+---------------+------------+
only showing top 20 rows

In [40]:
df_result.registerTempTable('df_fhv_least')

In [41]:
spark.sql("""
SELECT
    LocationID,
    COUNT(1)
FROM 
    df_fhv_least
GROUP BY
    1
ORDER BY
    2 ASC
LIMIT 5;
""").show()

+----------+--------+
|LocationID|count(1)|
+----------+--------+
|         2|       1|
|       105|       2|
|       111|       5|
|        30|       8|
|       120|      14|
+----------+--------+

In [42]:
df_result \
    .groupBy('LocationID') \
        .count() \
    .orderBy('count') \
    .limit(5) \
    .show()

+----------+-----+
|LocationID|count|
+----------+-----+
|         2|    1|
|       105|    2|
|       111|    5|
|        30|    8|
|       120|   14|
+----------+-----+